<ListView [items]="dataItems" (setupItemView)="onSetupItemView($event)" class="list-group">
    <ng-template let-dataitem="item" let-i="index" let-third="third" let-header="header" let-footer="footer">
        <GridLayout class="list-item">
            <Image style="height: 100%;" [src]="dataitem.url" (tap)="onTap(dataitem.id, dataitem.name, dataitem.party, dataitem.district)" stretch="aspectFill"></Image>
            <Label [text]="dataitem.name+' '+dataitem.party" class="item-title"></Label>
        </GridLayout>
    </ng-template>
</ListView>

<FlexboxLayout>
    <StackLayout>
        <Image src="~/app/images/logo.png" style="height: 150;" *ngIf="!authenticated && !logging"></Image>
        <ActivityIndicator row="1" #activityIndicator busy="true" (busyChange)="onBusyChanged($event)" *ngIf="logging" width="100" height="300" class="activity-indicator"></ActivityIndicator>       
        <Button class="btn btn-rounded-sm btn-active btn-primary" text="Login" style="font-size: 16pt;" (tap)="login()"  *ngIf="!authenticated && !logging"></Button>
    </StackLayout>
</FlexboxLayout>